/*
    Document   : upSlide.css
    Created on : Jan 1, 2014, 4:25:47 PM
    Author     : Michael Dahlke
    Description:
        Styles for the UpSlide jQuery plugin.
*/

.upslide {
	position: relative;
	background-color: white;
	margin:0 auto;
	text-align: center;
	width: 85%;
	height:500px;
	overflow: auto;
	clear: both;
	overflow: hidden;
}

.upslide-arrow {
	display: block;
	position: absolute;
	left: 50%;
	width: 40px;
	height: 40px;
	opacity: .4;
	transition: all 0.5s 0s;
	-webkit-transition: all 0.5s 0s;
	-moz-transition: all 0.5s 0s;
	-ms-transition: all 0.5s 0s;
	-o-transition: all 0.5s 0s;
	z-index: 99;
}
.upslide-arrow:nth-of-type(odd) {
	top: 0px;
}

.upslide-arrow:nth-of-type(even) {
	bottom: 0px;
}

.upslide ul {
	position: absolute;
	box-sizing:border-box;
	top:0;
	margin: 0;
	padding: 0;
	height:100%;
	float:left;
}

.upslide-slideWrapper {
	position: absolute;
	background-size:100% 100% !important;
	color: white;
	width: 100%;
	height:100%;
}

.upslide-slide {
	position: absolute;
	background-size:100% 100% !important;
	color: white;
	width: 100%;
	height:100%;
}

.upslideHorizontal {
	width:100%;
}

.upslideHorizontal li {
	display:none;
}

.upslide-bannerText {
	position: relative;
	box-sizing:border-box;
	background-color: #0086A0;
	margin:0;
	padding: 2% 1% 2% 1%;
	color: white;
	width: 100%;

	text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.upslide-thumbnailWrapper {
	position:absolute;
	box-sizing:border-box;
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
	width:10%;
	float:left;
	z-index:9999;
}

.upslide-thumbnailChildWrapper {
	position:absolute;
	box-sizing:border-box;
	bottom:0px;
	/*border:2px solid white;*/
	width:100%;
	height:100px;
	z-index:999;
}

.upslide-thumbnail, .upslide-thumbnailChild {
	position: relative;
	box-sizing:border-box;
	background-size:100% 100%;
	background-repeat:no-repeat;
	border-bottom:5px solid black;
	cursor:pointer;
	width:100%;
	float:left;
	overflow:hidden;
}

.upslide-thumbnailChild {
	float:left;
}

.upslide-thumbnail:last-of-type, .upslide-thumbnailChild:last-of-type {
	border-bottom:none !important;
}

.upslide-indicator {
	position:absolute;
	top:0px;
	z-index:99999;
}

.upslide-thumbnailHeader {
	position:relative;
	top:20px;
	color:white;
	font-size:1.3em;
	font-weight:bold;
	text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.horPrev {
	position: absolute;
	top: 50%;
	left: 10px;
	width: 50px;
	z-index: 99;
}
.horNext {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 50px;
	z-index: 99;
}
